
<head>

    {% load static %}
    
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
  </head>

<style>
    .brand-logo{
        color: black;
        text-align: left;
        font-size: medium;
    }
    
</style>
    <!-- Fixed Navbar -->
    <nav>
        <div class="nav-wrapper" style="background-color: rgb(51, 50, 50);">
        <a href="#!" class="brand-logo" style="color: white; margin-left: 50%;">
            YoursBiz</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#!"><i class="material-icons">search</i></a></li>
            
            <li><a href="#!"><i class="material-icons">more_vert</i></a></li>
        </ul>
        </div>
    </nav>

    